{% extends "base.html" %}

{% block title %}Select{% endblock title %}

{% block content %}
{{ super() }}
<div class="position-absolute h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="card">
        <div class="card-body">
            <form action="{{url_for('select')}}" method="get" class="form-inline px-5 py-3">
                <label class="px-2">URL</label>
                <input type="text" name="url" class="form-control" placeholder="enter url that you want to watch!">
                <button type="submit" class="btn btn-primary mb-2 ml-5 px-5">決定</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
